input {
     border-color: #cccccc;
     border-style: solid;
     border-width: 1px;
     border-radius: 0px;
     font-size: 17px;
     padding: 8px;
     box-shadow: 0px 0px 14px 0px rgba(184, 184, 184, .65);
     font-weight: normal;
     font-style: none;
     font-family: serif;
 }
input:focus {
     outline: none;
 }